.card-body {
    color: "#fff";
    padding: 10px;
    transition: transform 0.5s;
    position: "absolute";
    bottom: 0;
    width: "100%";
    background-color: #9edeeb;


}

/* transform: isHovered ? "translateY(0)" : "translateY(100%)"; */

@media only screen and (min-width : 992px) {
    .card-body {
        transform: translateY(100%);
        display: none;

    }

    .cardborder:hover .card-body {
        transform: translateY(0);
        display: block;
        transition: transform 5s;
    }
}