.productSingleSentenceCol {
    display: flex;
    align-items: center;
  }
  
  .learnMore {
    text-decoration: none;
    color: #ffa500;
    display: flex;
    align-items: center;
  }
  
  .learnMore:hover {
    font-size: 17px;
    transition: all 0.1s linear;
  }
  
  .learnMoreArrow {
    font-size: 20px;
    margin-left: 5px;
  }