.carousel-item {
  min-height: 100px !important;
  max-height: 100vh;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100px;
  max-height: 100vh;
}

.carousel-item {
  opacity: 0.6;
}