.App {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #212121; /* Set background color */
}
/* competencies */
.r-container {
  position: relative;
  overflow: hidden;
}

.cardtext {
  color: #1f3e72;
  font-weight: bold;
  font-size: 25px;
  text-align: center; 
  margin-top: 30px; 
}

.text-centre {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 40px;
}

.text-colour {
  color: #ff9635;
  font-weight: bold;
}

.r-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust card size */
  gap: 20px;
}

.r-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align content horizontally */
  justify-content: center; /* Center-align content vertically */
  padding: 0.2rem; /* Adjust padding */
  border-radius: 10px;
  transition: all 300ms ease-in;
  background-color: #fff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.r-card > img {
  width: 30%; /* Adjust image width */
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.r-card:hover {
  transform: translateY(-5px);
}

@media (max-width: 640px) {
  .text-centre {
    font-size: 1.5rem;
  }
}


.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  width: 50%; /* Adjust width as needed */
  margin-top: 300px;
  margin-left: 100px;
  
}

.hero-right {
  width: 50%; /* Adjust width as needed */
  margin-top: 80px;
}

.hero-title {
  color: white;
  position: relative;
  z-index: 1;
}

.hero-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}

.orange-circle {
  height: 4rem;
  width: 4rem;
  background: var(--orange-gradient);
  border-radius: 999px;
  position: absolute;
  right: 28%;
  top: -10%;
  z-index: -1;
}

.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container > img {
  width: 100%;
  height: 100%;
}


.carousel-item {
  min-height: 100px !important;
  max-height: 100vh;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100px;
  max-height: 100vh;
}

.carousel-item {
  /* opacity: 0.6; */
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-container{
  position: relative;
}

.homePageTextCard {
  position: absolute;
  top: 50%;
  right: 10%;
  padding: 26px !important;
  text-align: justify;
  transform: translateY(-50%);
  width: 40%;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: rgba(255, 250, 250, 0.56) 0px 22px 70px 4px;
  /* visibility: hidden; */

}

.homePageTextContent h5{
  font-size: 21px;
}

.homePageTextContent p{
  font-size: 17px;
}


/* OUR COMPETENCIES SECTIONS START */
.competenciesContainer{
  padding: 50px 0;
}

.competencies{
  display: flex;
    padding: 20px 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.competency{
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #cfcfcf;
  padding: 10px;
  transition: background-color 0.3s;
  margin:10px;
}

.competency:hover{
  background-color: var(--theme-color);
  color: white;
}

.competency:hover .competency-image {
  filter: brightness(0.8);
}

.competency .competency-image{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.competency .competency-text{
  flex-grow: 1;
  transition: background-color 0.3s;
}

@media (max-width: 992px) {

  .homePageTextCard {
    right:0%;
    left:50%;
    top: 100%;
    transform: translate(-50%,-50%);
    z-index:1000;
  }
}
