.make-transaparent {
  background-color: #ffffff !important;
  box-shadow: none !important;
  height: 100px;
  width: 100%;
  z-index: 100;
}

.make-transaparent a {
  color: #ff9a3d !important;
  font-size: 15px;
  transition: none;
}

.nav-links {
  margin-left: 50%;
  display: flex;
}

.nav-links a {
  margin-right: 20px;
  font-weight: bolder;
  color: black;
  
}

.navBarLinks a:hover {
  color: #ff9a3d;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

.navBarLinks{
  color: #ff6600 !important;
}

.nav-links .nav-link.active {
  color: #ff9a3d;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: #ff6600 ;
}

#navDist{
margin-left: 10px;
}
.scrolled-navbar {
  background-color: rgba(48, 46, 46, 0.8) !important;
  backdrop-filter: blur(10px);
}

@media (max-width: 992px) {
  .navbar {
    color: black;
    text-align: justify;
    width: 100%;
    background: #302e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1400px) {
  .nav-links {
    margin-left: 50%;
  }
}

@media (max-width: 1200px) {
  .nav-links {
    margin-left: 40%;
  }
}
