.padding_to_section {
  padding: 50px 0;
}

.padding_to_header {
  padding: 15px 0;
}

.text-colour {
  text-align: center;
  padding-top: 20px;
  color: #4c4c4c;
  font-weight: bold;
  font-size: 40px;
}

@keyframes slide {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: #ffffff;
  white-space: nowrap;
  position: relative;
  width: 95vw;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

@media (max-width: 500px) {
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 10%, white);
  }

  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, white);
  }
}
