.product-details-container {
  margin: 6rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 30px;
}

.first-part {
  text-align: justify;
  align-items: center;
  padding: 20px;
}

.second-part {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel-control-prev-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; */
  filter: invert(100%);
}

.carousel-control-next-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; */
  filter: invert(100%);
}


/* .product-details-container {
  align-items: center;
  margin-top: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  padding-top: 50px;
}

.product-details-description {
  width: 100%;
  padding-top: 40px !important;
}

.product-details-description p {
  text-align: justify;
} */

/* @media only screen and (min-width: 768px) {
  .product-details-description {
    padding: 5rem;
  }

  .product-details-description p {
    padding: 3rem;
  }
} */
