.product-details-container {
  margin: 6rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 30px;
}

.product-details-header{
  padding-top: 50px;
  padding-bottom: 30px;
}

.first-part {
  text-align: justify;
  align-items: center;
  padding: 20px;
  background-color: #9edeeb;
  padding: 30px;
}

.second-part {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 40px 20px;
  background-color: white;
}

.third-part{
  background-color: #9edeeb;
  margin-left: 0;
  margin-right: 0;
}

.carousel-control-prev-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; */
  filter: invert(100%);
}

.carousel-control-next-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; */
  filter: invert(100%);
}

.accordion {
  width: 50%;
  padding: 50px;
  margin: auto;
}

.fourth-part{
  padding-top: 50px;
  padding-bottom: 50px;
}

.promisecontent{
  padding: 10px;
  text-align: justify;
}

.promisecontent1{
  padding: 50px;
  text-align: justify;
}

@media (max-width: 900px) {
  .accordion {
    width: 100%;
  }
  .fourth-part{
    padding: 10px;
  }
}