.product-details-container {
  padding-top: 60px;
  background-image: url("../../../public/images/bgTop.png");
  background-size: 30%;
  background-position: top right;
  background-repeat: no-repeat;
}

.product-details-header {
  padding-top: 50px;
  padding-bottom: 30px;
}

.productFeatuesCarousel {
  padding: 15px;
  margin: 40px 20px;
  background-color: white !important;
  width: 65%;
  height: 250px;
  align-items: center;
}

.productDescription {
  text-align: justify;
}

.productDescription img{
  width: 100%;
  height: 25rem;
  object-fit: fill;
  border: 5px solid #4c4c4c;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.productIndustriesServe {
  margin-left: 0;
  margin-right: 0;
  margin: 0 !important;
}

.accordion {
  width: 50%;
  padding: 50px;
  margin: auto;
}

.carousel-control-prev-icon {
  filter: invert(100%);
}

.carousel-control-next-icon {
  filter: invert(100%);
}

.fourth-part {
  padding-top: 50px;
}

.promisecontent {
  padding: 50px 100px;
  text-align: justify;
}

@media (max-width: 900px) {
  .accordion {
    width: 100%;
  }
  .fourth-part {
    padding: 10px;
  }
}
