.servicescontent {
  background-color: #ffffff;
  padding: 100px 0;
}

.Heading {
  color: #ff9b3f;
  font-weight: bold;
  margin-top: 20px;
}

.text-shadow {
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4); 
}

.services-wrapper {
  display: flex;
  justify-content: center;
}

.service-column {
  margin: 35px 50px;
  width: calc(50% - 20px); 
}
.cardborder {
  border: 1px solid rgba(0, 0, 0, .2);
  overflow: hidden;
  border-radius: 3px;
  transition: all .1s linear;
  text-decoration: none;
  background-color: #727272;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card-title {
  text-align: center;
}

.card-body:hover {
  background-color: #f0f0f0;
}
.accordin{
  margin: 10px 10px;
  background-color: white !important;
}