.service-details-container {
  margin: 6rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 30px;
}

.middle-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 30px;
}

.middle-image img {
  width: 80%;
  height: auto;
}

.second-part {
  margin: 0 !important;
  background-color: #9edeeb;
}

.third-part {
  margin: 40px 20px;
}

.third-part .explorePower{
  padding: 30px;
  background-color: white;
  width: 100%;
}

.third-part .explorePower h4{
  margin-bottom: 30px;
}

.third-part .elevate{
  padding-top: 30px;
  background-color: white;
}

.third-part .whychoose {
  margin: 20px;
  padding: 30px;
}

.third-part .third-steps{
  width: 100%;
  margin: 0;
  background-color: white;
  padding: 30px;
}

.third-part .third-steps .container img {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .third-part .whychoose {
    margin: 10px;
    padding: 10px;
  }
}
