@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /* --theme-color: #25CCF7; */
  /* --primary: #1f3e72; */
  /* --secondary: rgba(255, 255, 255, 0.78); */
  --black: #131110;
  /* --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%); */
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  /* --blue: #4066ff; */
  /* --lightBlue: #eeeeff; */
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

/* aryanadd */

.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}
/* aryanadd */

.social {
  position: fixed;
  top: 30%;
  right: 0%;
  z-index: 10000000;
}

.social ul {
  list-style-type: none;
  padding: 0;
  transform: translatex(250px);
}

.social ul li {
  display: block;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: left;
  padding: 10px;
  border-radius: 30px 30px 30px 30px;
  transition: all 1s;
}

.social ul li:hover {
  transform: translatex(-140px);
}

.social ul li.gmail:hover {
  background-color: white;
}

.social ul li.phoneno:hover {
  background-color: white;
}

.social ul li a {
  color: #ff922d;
  text-decoration: none;
}

.social ul li i {
  text-align: center;
  color: black;
  background-color: #ff9a3d;
  padding: 10px;
  border-radius: 50%;

  font-size: 20px;
  transform: rotate(0deg);
}

.social ul li:hover i {
  transform: rotate(360deg);
  transition: all 1s;
}

/* PRODUCTS SECTION START */
.products {
  position: relative;
  padding-top: 30px;
}

.products .products-title {
  color: black;
  padding-top: 60px;
}

.row {
  padding-top: 30px;
}

.prodHeading {
  color: #4c4c4c;
  font-weight: bold;
  margin-top: 20px;
}

.prod-text-shadow {
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}

/* SERVICES SECTION START */
.services {
  padding-top: 50px;
}

.services .services-title {
  padding-top: 40px;
}

.servHeading {
  color: #4c4c4c;
  font-weight: bold;
  margin-top: 20px;
}

.serv-text-shadow {
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}

/* RESPONSIVE MEDIA QUERY (MOBILE FRIENDLY) */
@media (max-width: 992px) {
  #aboutustext {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 947px) {
  #aboutustext {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 764px) {
  #aboutustext {
    padding-left: 40px;
    padding-right: 40px;
  }
  .aboutuscompetencies {
    justify-content: left;
    text-align: left;
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .aboutus {
    padding-left: 15px;
    padding-right: 15px;
  }
  .aboutuscompetencies {
    justify-content: left;
    text-align: left;
    padding-left: 0px;
  }
}
